{% extends "blog/base.html" %}
{% block content %}
<h1>About me</h1>
<p>Welcome to my blog! I'm thrilled that you're here. Let me introduce myself. My name is Niko, a 19-year-old currently residing in the beautiful city of Piraeus, Greece. I am a student at the local university, fully embracing the exciting journey of college life.

    Originally hailing from the small town of Monemvasia in southern Greece, my fascination with computers and electronics began at a young age. Initially sparked by gaming, I developed an insatiable curiosity about how these machines worked. I vividly remember the first time I laid eyes on a text editor, filled with colorful lines of code. Although I didn't comprehend its purpose at the time, the sheer allure of those intricate lines fascinated me. It was this enchantment that motivated me to embark on my coding journey and delve into the captivating world of web development.
    
    Beyond my technical pursuits, there are a few core values that guide both my personal and professional life. I believe in the power of empathy, collaboration, and continuous learning. These values shape my interactions with others and drive me to create meaningful connections and build extraordinary projects.
    
    I've encountered my fair share of challenges and learning experiences, but I've come to appreciate them as invaluable opportunities for growth. They have honed my problem-solving skills, fostered resilience, and instilled in me an unwavering determination to never stop improving.

    Looking ahead, my goal is to contribute to the world of web development in innovative and impactful ways. Whether it's crafting immersive websites, exploring open-source projects, or even launching my own ventures, I am fueled by the excitement of pushing boundaries and creating exceptional digital experiences.
    
    I genuinely hope that our paths will cross. I'm eager to connect with fellow enthusiasts, like-minded individuals, or anyone who shares an interest in coding, web development, or even a cup of coffee! Don't hesitate to reach out; I'm just a message away.
    
    Thank you for visiting my blog, and I hope to hear from you soon! </p>

{% endblock %}
